Package: com.laughingquoll.forton
Name: Forton
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Changes many aspects of the lockscreen.
Maintainer: LaughingQuoll
Author: LaughingQuoll
Section: Tweaks
Version: 1.2-6
Installed-Size: 138
